.nav {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    position: absolute;
    align-items: center;
    background: #0009;
    justify-content: center;
    backdrop-filter: blur(20px);
    position: fixed; z-index: 3;
    border-top: 1px solid #555;
}

.navbar {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    display: flex;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.navbar a.active {
    border-radius: 50px;
    background: #2B373D;
}

.btn-logout {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 50px;
    background: crimson;
    justify-content: center;
}

.btn-logout .btn-icon {
    color: #fff;
    font-size: 25px;
}

.answer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
}

/* NAVLINK ANIMATIONS */

.animate__animated.animate__zoomInDown:nth-child(1) {
    --animate-duration: .5s;
}

.animate__animated.animate__zoomInDown:nth-child(3) {
    --animate-duration: 1s;
}

.animate__animated.animate__zoomInDown:nth-child(3) {
    --animate-duration: 1.5s;
}

/* MEDIA SCREEN */

@media only screen and (max-width: 945px) {
    .navbar {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        width: 70%;
    }
}